<div class="center jumbotron">
  <div id="error">
    <p></p>
  </div>
    <div id="locationField">
    	<h2>What Kind of Drink Up Would You Like to Go To?</h2>
        <input id="barSelector" type="button" class="bars selector" value="Bar"
                onclick="javascript:setDrinktypeBar()" />
        <input id="cafeSelector" type="button" class="cafe selector" value="Cafe"
                onclick="javascript:setDrinktypeCafe()" />
        <input id="autocomplete" placeholder="Where Are You?" type="text"></input>
        <br>
    </div>

    <div id="map"></div>
    <script>initAutocomplete()</script>
    <script>initMap(49.2667967,-123.2056314,10)</script>
    <script>getUserLocation()</script>
	
</div>

<div>
	<ul id="resultsList"></ul></div>
</div>
