<div class="center">
  <div id="error">
    <p></p>
  </div>
    <div id="locationField">
    	<h1>What Type of Drink Up?</h1>
        <img class="loading-spinner" src=<%= image_path('loading.gif') %> alt="Loading results" />
        <!-- Creating a div in order to wrap input elements and remove whitespace between them -->
        <div id="button-container">
            <input id="barSelector" type="button" class="bars selector" value="Bar"
                    onclick="setDrinktype('bar')" />
            <input id="cafeSelector" type="button" class="cafe selector" value="Cafe"
                    onclick="setDrinktype('cafe')" />
        </div>
        <input id="autocomplete" placeholder="Where Are You?" type="text"></input>
        <br>
    </div>

    <div id="map"></div>	
</div>

