<% content_for :header do %>
  <%= javascript_include_tag 'event_index' %>  
<% end %>

<h1 class="section_header">Drinkups Around You</h1>
<%= link_to 'Create Drinkup', new_event_path, :class => "col-md-12 text-right" %>
<div class="center">
 <div id="error">
   <p></p>
 </div>
   <div id="locationField">
   <input id="autocomplete" placeholder="Where Are You?" type="text"></input>
       <br>
   </div>    
   <div id="map"></div>
   <script>initMap(49.2667967,-123.2056314,10)</script>
   <script>initAutocompleteforDrinkups()</script>
</div>

<div id="inspirational_quote" class="col-md-12 text-center"><q>A great man once said, I know you drunk before.</q></div>

<script type="text/javascript">
getUserLocationforDrinkups();
</script>

<div id="drinkup_listing" class="container">
    <div class="drinkup_detail"><h4>Drinkup Name: </h4><p id="drinkup_name"></p></div>
    <div class="drinkup_detail"><h4>Location: </h4><p id="drinkup_location_name"></p></div>
    <div class="drinkup_detail"><h4>Address: </h4><p id="drinkup_location_address"></p></div>
    <div class="drinkup_detail"><h4>Start Time: </h4><p id="drinkup_start_time"></p></div>
    <div class="drinkup_detail"><h4>End Time: </h4><p id="drinkup_end_time"></p></div>

    <div id="event_links">
      <%= link_to('Show', "#", :id => "event_link_show") %>
      <%= link_to('Attend', "#", :id => "event_link_attend") %>
    </div>
</div>

