<div class="jumbotron">
  <div class="container container-splash">
    <h1>Welcome to Drinkup.</h1>
  	<p>Drinkup is a cool new way to meet new people over drinks and conversation.</p>
  	<p>Find drinkups at local cafes or bars, or create your own. Join Drinkup today.</p>
    <p><%= link_to 'Sign up', signup_path, class: "btn btn-lg btn-primary" %> <%= link_to 'Log in', login_path, class: "btn btn-lg btn-default" %></p>
  </div>
</div>