@import "bootstrap-sprockets";
@import "bootstrap";

#page_title {
  font-size:42px;
  font-weight:600;
  border-bottom: 2px solid #CCCCCC;
  padding-bottom: 15px;
  margin-bottom:  20px;
  color: #333333;
}

#logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top:0px;
  left:0;
  right:0;

}
a.dropdown-toggle.nav-user {
  padding-top:25px;
}
#logo img{
  width:260px;
}

#logo a {
  font-size: 3em;
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#nav_thumb img {
  border-radius: 50%;
  width:55px;
  height:55px;
  object-fit: cover;
}

.alert {
  clear: both;
}

.section_header {
  clear: both
}
.navbar {
  background-image: url('dark_back.jpg');
  box-shadow: 2px 2px 4px #888888;
  height:80px;
}
.navbar-brand
{
    position: relative;
    width: 300px;
    text-align: center;
    margin: auto;
}

body .navbar-inverse .navbar-nav > li > a {
  color: white;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */
input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  select {
  width: auto;
}
  @include box_sizing;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* universal */

body {
  padding-top: 80px;
  height: 100%;
  width: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* maps */
html, body, #map {
  height: 20em;
  width: 100%;
}

.selector {
  width: auto;
}

ol{
  size:auto;
  height: auto;
  width:auto;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

@media screen and (max-width: 480px) {
  #logo img {
    width:150px;
  }
  #nav_thumb {
    display:none;
  }
  .open{
    background-color: #222;
  }
  .dropdown-toggle .nav-user {
     background-color: transparent;
  }
}