#drinkup_listing {
  margin-top: 10px;
}

#drinkup_listing h4 {
  float: left;
  margin: 5;
  padding: 0;
}

#drinkup_listing p {
  float: left;
  margin: 7px 0 0 5px;
  padding: 0;
}

.drinkup_detail {
  clear: both;
}

.inactive, .inactive:hover {
  text-decoration: none;
  color: grey;
}

#event_links {
  clear: both;
}

#drinkup_listing .conversation_tag {
  margin: 4px 2px 2px 2px;
  padding: 4px;
  background-color: #00CCFF;
  border: 1px solid #00CCFF;
  border-radius: 3px;
  color: white;
  display: inline-block; 
}


#event_links a {
  float: left;
  padding: 5px;
  margin: 5px;
  border: 1px solid #33FF66;
  border-radius: 3px;
}

#inspirational_quote {
  font-size: 2em;
  margin-top: 50px;
  font-style: italic;
}

q {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

q:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

q:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

/**
 * GMAIL Like chat css
 * CREDITS: http://css-tricks.com/replicating-google-hangouts-chat/
 *
 */

.chatboxcontent {
    font-family: arial, sans-serif;
    height: 280px;
    overflow-y: auto;
    padding: 7px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;
    background: #e5e5e5;
    line-height: 1.3em;
    list-style: none;
}

.chatboxcontent li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.chatboxcontent .avatar {
    width: 40px;
    position: relative;
    height: 40px;
}

.chatboxcontent .avatar img {
    height: 100%;
    display: block;
    width: 100%;
}

.message {
    justify-content: flex-end;
    align-items: flex-end;
}

.message .chatboxmessagecontent {
    order: 1;
    border-bottom-right-radius: 0;
}

.message .avatar {
    order: 2;
}

.message .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent p {
    font-size: 12px;
    margin: 0 0 0.2rem 0;
    -ms-word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.chatboxmessagecontent time {
    font-size: 9px;
    color: #ccc;
}

.chatboxinput {
    padding: 5px;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.chatboxtextarea {
    height: 44px;
    padding: 3px 0pt 3px 3px;
    border: 1px solid #eeeeee;
    margin: 1px;
    overflow: hidden;
    resize: none !important;
}

.chatboxtextareaselected {
    border: 2px solid #878787;
    margin: 0;
}

.chatboxmessage {
    margin-left: 1em;
}
