#drinkup_listing {
  margin-top: 10px;
}

#drinkup_listing h4 {
  float: left;
  margin: 5;
  padding: 0;
}

#drinkup_listing p {
  float: left;
  margin: 7px 0 0 5px;
  padding: 0;
}

.drinkup_detail {
  clear: both;
}

#event_links {
  clear: both;
}

#event_links a {
  float: left;
  padding: 5px;
  margin: 5px;
  border: 1px solid #33FF66;
  border-radius: 3px;
}

#inspirational_quote {
  font-size: 2em;
  margin-top: 50px;
  font-style: italic;
}

q {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

q:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

q:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}