  <div id="drinkup_details_partial">
    <div class="drinkup_detail"><h4>Drinkup Name: </h4><p id="drinkup_name"></p></div>
    <div class="drinkup_detail"><h4>Location: </h4><p id="drinkup_location_name"></p></div>
    <div class="drinkup_detail"><h4>Address: </h4><p id="drinkup_location_address"></p></div>
    <div class="drinkup_detail"><h4>Start Time: </h4><p id="drinkup_start_time"></p></div>
    <div class="drinkup_detail"><h4>End Time: </h4><p id="drinkup_end_time"></p></div>
    <div class="drinkup_detail"><h4>Top Conversations: </h4><div id="drinkup_conversations"></div></div>
  </div>