
<div class="center">
    <div id="locationField">
        <h1>What Type of Drink Up?</h1>
          <div id="error">
            <p></p>
          </div>
        <img class="loading-spinner" src=<%= image_path('loading.gif') %> alt="Loading results" />
        <!-- Creating a div in order to wrap input elements and remove whitespace between them -->
        <div id="button-container">
            <button id="barSelector" class="btn btn-primary bars selector" value="Bar">Bar</button>
            <button id="cafeSelector" class="btn btn-primary cafe selector" value="Cafe">Cafe</button>
        </div>
        <input id="autocomplete" placeholder="Where Are You?" type="text"></input>
        <br>
    </div>

    <div id="map"></div>	
</div>


