
<div class="jumbotron">
  <div class="container container-splash">
    <h1>Welcome to Drinkup.</h1>
  	<p>Drinkup is a cool new way to meet new people over drinks and conversation. All the kids these days are doing it. You should too. Get drunk with us today.</p>
  <p><%= link_to 'Sign Up', signup_path, class: "btn btn-lg btn-primary" %> <%= link_to 'Log In', login_path, class: "btn btn-lg btn-default" %> </p>
  </div>
</div>