<footer class="footer">
	<div class="col-md-4 col-xs-12">
		<p>Copyright &copy; <%= Time.now.year %> - Drinkup</p>
	</div>
	<div class="col-md-4 col-xs-12">
		<p>Designed by: George Argiroudis, Farzin Faghihi, Nikhil Gaba, Herman Hui, Ryan Wong</p>
	</div>
</footer>